<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadDB</servlet-name>
        <servlet-class>Controllers.LoadDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchbyD</servlet-name>
        <servlet-class>Controllers.SearchbyD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchbyG</servlet-name>
        <servlet-class>Controllers.SearchbyG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchbyGandD</servlet-name>
        <servlet-class>Controllers.SearchbyGandD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controllers.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadDB</servlet-name>
        <url-pattern>/LoadDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchbyD</servlet-name>
        <url-pattern>/SearchbyD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchbyG</servlet-name>
        <url-pattern>/SearchbyG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchbyGandD</servlet-name>
        <url-pattern>/SearchbyGandD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
